body {
    margin: 0px ;
    background: #edebeb;
}

.header {
    height: 150px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0px;
}
.aboutMe {
    height:150px;
    width: 300px;
    background-color: #08b37ff1;
    margin-left: 21rem;
    margin-top: -50px;
    z-index: 3;
    

}
.content {
    width: 960px;
    background: white;
    margin-top: 14%;
    margin-left: 20%;
    height: 600px;
    position: relative;
    

}
nav {
    right: 100px;
    float: right;
    margin-right: -50px;
    position: fixed;
    background-color: white;
    top: 0;
    
    }
nav ul{
        margin: 0;
        padding: 0;
        list-style: none; 
        top: 0;
        
       
    }
nav li {
        display: inline-block;
        margin: 1em; 
        margin-top: 70px;

        
    }
nav a {
        font-weight: 900;
        text-decoration: none;
        font-size: 1.5rem; 
        padding: .5em;
        margin-top: 35px;
        
        
    }
nav a:hover{
    color: #08b37ff1;
    font-size: 1.7rem

}
h1 {
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Georgia', serif;
        font-size: 3rem;
        color:white;
        text-align: center;
    }
#bioTopRight {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    float:right;
    position: relative;
    margin-left: 35%;
    margin-top: -300px;
    line-height: 50px;
    }
#bioBottomLeft {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
    float:right;
    position: relative;
    line-height: 50px;
    margin-top: -14px;
    margin-left: 10px;
    margin-right: 10px;
    
}
    img {
        float: left;
        padding: 0;
        margin: 0;
    }
   footer {
       height:75px;
       background-color: darkgray;
       margin-bottom: 0px;
       padding: 0px;
       margin-top: 60px;
       border: solid #08b37ff1;
       
   }
   h2 {
       margin-left: 2rem;
       font-size: 2.5rem;
       color: #08b37ff1;
   }
   h4 {
    font-family: 'Arial', sans-serif;
    color: darkgray;
   }
   h3 {
    margin-left: 2rem;
    font-size: 2.5rem;
    color: darkgray;
   }